h1{
    color: blue;
    background-color: cadetblue;
    font-size: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    
    
h2{
    color: chartreuse;
    background-color: coral;
}
#box{
    height: 350px;
    width: 400px;
    background-color: rgb(9, 84, 59);
    position: absolute;
    top: 30%;
    left: 20%; 
}

