.container {
  width: 450px;
  height: 625px;
  border-radius: 25px;
background-image: linear-gradient(to bottom left, rgb(87, 189, 32), rgb(37, 56, 196));;
  padding-left: 30px;
  
}
body{
    width: 100%;
    height: 100vh;

    background-image: linear-gradient(to bottom left, rgb(185, 39, 171), yellow);
}

#height,
#weight {
  width: 150px;
  height: 25px;
  margin-top: 30px;
}

h3{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input{
        border-radius: 25px;
}

#weight-guide {
  margin-left: 75px;
  margin-top: 25px;
}

#results {
  font-size: 35px;
  margin-left: 90px;
  margin-top: 20px;
  color: rgb(241, 241, 241);
}

button {
  width: 150px;
  width:fit-content;
  height: 35px;
  margin-left: 90px;
  margin-top: 25px;
  background-color: #d5ea1d;
  padding: 1px 30px;
  border-radius: 25px;
  color: #212121;
  text-decoration: none;
  border: 3px solid #212121;

  font-size: 25px;
}

h1 {
  padding-left: 100px;
  padding-top: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
